@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=PT+Sans&display=swap");

* {
    margin: 0;
    padding: 0;
    outline: none;
    border-style: none;
    vertical-align: baseline;
    box-sizing: border-box;
}

:root {
    --app-dark-bg: #1a1d28;
    --app-grey-bg: #f3f4f5;
    --app-grey: #bebebeb8;
    --app-white: #ffff;
    --app-red: #ff3c57;
    --app-green: #33ab4e;
    --app-purple: #833cff;
    --app-orange: #ff833c;
    --app-blue: #3c57ff;
    --app-blue-hover: #364ee6;
}

body {
    background-color: var(--app-white);
    font-family: 'Fira Sans', Arial, Helvetica, sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main {
    height: 100dvh;
}

.overlay {
    background-color: var(--app-dark-bg);
}

.map {
    height: 100%;
}